.top-header{
	background: #000;
	line-height: 30px;
	color:#fff;
}
.main-header{
		border-bottom:none !important;
		margin-top: 10px !important;
	}
@media (min-width: 320px) {
	.page-header{
		border-bottom:none !important;
		margin-top: 10px !important;
	}
	.slogan{
		display: block;
		font-size:45%;
	}
	.buscar{
		float: right;		
	}
	
}


@media (min-width: 768px) {}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.container{
		width:960px !important;
	}
	.page-header{
		border-bottom:none !important;
	}
	.slogan{
		display: block;
	}
	.idiomas{
		float:right;
		margin-top:10px;
	}
	.buscar{
		float: right;
	}
}